.menu-list li ul {
    display: none;
}

.menu-list li a.is-active+ul, a.is-open+ul {
    display: block;
}

.menu-list>li>a::after {
    content: ' +';
}

.menu-list>li>a:only-child:after {
    content: '';
}